﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.MailTemplateEditTranslationViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Mail Template";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/ControlPanel/_resx/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#Body',
        menu: {},
        toolbar: "bold italic underline | alignleft aligncenter alignright alignjustify alignnone | fontselect fontsizeselect | link unlink | bullist numlist outdent indent | table"
    });
</script>
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            if ((ViewContext.RouteData.Values["language"] == null && StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language)) || (ViewContext.RouteData.Values["language"] != null && language == ViewContext.RouteData.Values["language"].ToString()))
            {
                <img src="/areas/controlpanel/_resx/images/languages/@(language).png" /> @(StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language)) <span class="caret"></span>
            }
        }
    </button>
    <ul class="dropdown-menu">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            <li>
                <a href="/controlpanel/mailtemplate/@ViewContext.RouteData.Values["mailtemplateid"]@( StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language) ? "" : "/translate/" + language)/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">
                    <img src="/areas/controlpanel/_resx/images/languages/@(language).png" />
                    @( StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language))
                </a>
            </li>
        }
    </ul>
</div>

<h1>Update Email Template</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}

@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" , @placeholder = Model.SubjectOriginal })
                @Html.HiddenFor(m => m.SubjectOriginal)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Body, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = 30, @placeholder = Model.BodyOriginal })
                @Html.HiddenFor(m => m.BodyOriginal)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Request.QueryString["returnurl"]">Return to email template listing</a>
            </div>
        </div>
    </div>
}
