﻿@model MailService.GetMailTemplateListResult
@using StreamAMG.OTTPlatform.Core.Services;
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Email Templates";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Email Templates</h1>
<div class="table-responsive">
    <table id="customersTable" class="table table-striped">
        <thead>
            <tr>
                <th>Subject</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ItemCount == 0)
            {
                <tr>
                    <td class="center" colspan="5">
                        The are currently no email templates
                    </td>
                </tr>
            }
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td data-title="Subject">
                        <strong>@item.Id</strong><br/>
                        @item.Subject
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","MailTemplate",new { @mailTemplateId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)" class="btn btn-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
