﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomerCancelSubscriptionViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Cancel Customer Subscription";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Subscription</h2>
<p>Please complete the form below to cancel the '@Model.SubscriptionPlanName'.</p>
@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-danger" role="alert">
    @Html.ValidationSummary()
</div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CancellationReason, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CancellationReason, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CancellationImmediate, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.CancellationImmediate, new List<SelectListItem> { new SelectListItem { Text = "Select", Value = "" }, new SelectListItem { Text = "Cancel immediately", Value = true.ToString() }, new SelectListItem { Text = "Cancel on renewal date", Value = false.ToString() } }, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-success">Cancel Subscription</button>
            </div>
            <div class="form-actions">
                <a href="/controlpanel/customer/@ViewContext.RouteData.Values["customerId"]/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to customer</a>
            </div>
        </div>
    </div>
}