﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomerEditViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Customer Details";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Update Customer Account</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.FullAccessUntil, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FullAccessUntil, new { @class = "form-control", @placeholder = "yyyy-MM-dd HH:mm:ss" })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Blocked, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Blocked, new SelectList(new[] { new { Value = "true", Text = "Yes, the user will not be able to watch content" }, new { Value = "false", Text = "No" } }, "Value", "Text", 1), "{Default Select Value}", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Language, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Language, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View", "Customer", new { @customerId = ViewContext.RouteData.Values["customerId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to customer details</a>
            </div>
        </div>
    </div>
}
