﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomerSubscriptionEditViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Cancel Customer Subscription";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Change Subscription</h1>
<p>To change from the '@Model.CurrentSubscriptionPlanName' subscription plan please select a new subscription plan from the list of availiable options, the change will be effective as the next renewal date @Model.CurrentSubscriptionRenewalDate.Value.ToString("ddd d MMM yyyy HH:mm:ss").</p>
@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-danger" role="alert">
    @Html.ValidationSummary()
</div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SubscriptionPlanId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.SubscriptionPlanId, new SelectList(Model.SubscriptionPlanIds,"Value","Text"), new { @class = "form-control" })
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-success">Update Subscription</button>
            </div>
            <div class="form-actions">
                <a href="/controlpanel/customer/@ViewContext.RouteData.Values["customerId"]/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to customer</a>
            </div>
        </div>
    </div>
}