﻿@model CustomerSearchService.SearchResult
@using StreamAMG.OTTPlatform.Core.Services;
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Customers";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Customer Accounts</h1>
<div class="well">
    <form class="form-inline" action="/controlpanel/customer/">
        <div class="form-group">
            <label for="filter-duesubscriptions">Due Subscriptions</label>
            <select class="form-control" id="filter-duesubscriptions" name="duesubscriptions">
                <option value="0">Dont mind</option>
                <option value="1" @(Request.QueryString["duesubscriptions"] == "1" ? "selected" : "")>Only with overdue</option>
                <option value="-1" @(Request.QueryString["duesubscriptions"] == "-1" ? "selected" : "")>Only without overdue</option>
            </select>
        </div>
        <div class="form-group">
            <label for="filter-activesubscriptions">Active Subscriptions</label>
            <select class="form-control" id="filter-activesubscriptions" name="activesubscriptions">
                <option value="0">Dont mind</option>
                <option value="1" @(Request.QueryString["activesubscriptions"] == "1" ? "selected" : "")>Only with active</option>
                <option value="2" @(Request.QueryString["activesubscriptions"] == "2" ? "selected" : "")>Only with more than one active</option>
                <option value="-1" @(Request.QueryString["activesubscriptions"] == "-1" ? "selected" : "")>Only without active</option>
                @foreach (var item in SubscriptionPlanService.GetSubscriptionPlanList(new SubscriptionPlanService.GetSubscriptionPlanListRequest { PageIndex = 0, PageSize = int.MaxValue }).Items)
                {
                <option value="@item.Id.ToString()" @(Request.QueryString["activesubscriptions"] == item.Id.ToString() ? "selected" : "")>With an active @item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="filter-keywords">Keywords</label>
            <input type="text" class="form-control" id="filter-keywords" placeholder="" name="keywords" value="@Request.QueryString["keywords"]">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount customers.</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subscriptions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>           
            @foreach (var item in Model.Items)
            {
                <tr onclick="document.location.href = '@Url.Action("View", "Customer", new { @customerId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)';" >
                    <td data-title="Name">
                        <strong>@item.FirstName @item.LastName </strong> <br /> @item.EmailAddress
                    </td>
                    <td data-title="Subscriptions">
                        @item.ActiveSubscriptionCount Active @Html.Raw(item.ActiveSubscriptionCount == 1 ? "Subscription" : " Subscriptions")<br />
                        @item.DueSubscriptionCount Due @Html.Raw(item.DueSubscriptionCount == 1 ? "Subscription" : " Subscriptions")<br />
                        <span style="color:red">@item.LastTransactionProviderMessage</span>
                    </td>

                    <td data-title="Status">
                        @Html.Raw(!item.Deleted ? "Active" : " Inactive")
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="/controlpanel/customer/?export=csv&@Request.QueryString.ToString()" class="btn btn-info">Export <span class="visible-xxxs">to CSV</span></a>
        </div>
        <div class="form-group">
            @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
        </div>
    </div>
</div>
}

