﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomerReactivateSubscriptionViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Cancel Customer Subscription";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Subscription</h2>
<p>Please complete the form below to reactivate the '@Model.SubscriptionPlanName' subscription, doing this means the customer will be as though they would have been billed had they not been cancelled.</p>
@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-danger" role="alert">
    @Html.ValidationSummary()
</div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{    
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-success">Reactivate Subscription</button>
            </div>
            <div class="form-actions">
                <a href="/controlpanel/customer/@ViewContext.RouteData.Values["customerId"]/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to customer</a>
            </div>
        </div>
    </div>
}