﻿@model StreamAMG.OTTPlatform.Core.Models.CustomerModel
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Customer Details";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var MailLogResponse = MailService.GetMailLogList(new MailService.GetMailLogListRequest { CustomerId = Model.Id, PageIndex = 0, PageSize = 100 });
    var TransactionSearchResponse = CustomerTransactionService.TransactionSearch(new CustomerTransactionService.TransationSearchRequest { CustomerId = Model.Id, TransactionStatus = null, PageIndex = 0, PageSize = int.MaxValue });
    var TransactionRefundSearchResponse = CustomerTransactionRefundService.TransactionRefundSearch(new CustomerTransactionRefundService.TransationRefundSearchRequest { CustomerId = Model.Id, TransactionStatus = null, PageIndex = 0, PageSize = int.MaxValue });
    var CustomerSessionSearchResponse = SysLogService.SysLogSearch(new SysLogService.SysLogSearchRequest() { ObjectId = Model.Id, ObjectType = "customer", PageIndex = 0, PageSize = 100 });

    var CustomerSubscriptionSearchResponse = CustomerSubscriptionService.GetCustomerSubscriptionList(new CustomerSubscriptionService.GetCustomerSubscriptionListRequest { CustomerId = Model.Id, PageIndex = 0, PageSize = int.MaxValue, Status = 1 });
}

<h1>@Model.FirstName @Model.LastName</h1>
<h2>Profile</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Name</label>
            <p class="form-control-static">
                @Model.FirstName @Model.LastName
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Email Address</label>
            <p class="form-control-static">
                @Model.EmailAddress
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Free Access</label>
            <p class="form-control-static">
                @(Model.FullAccessUntil.HasValue ? "User has been granted free access until " + Model.FullAccessUntil.Value.ToString("ddd d MMM yyyy HH:mm") : "The user has not been granted free access")
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Status</label>
            <p class="form-control-static">
                @(Model.Deleted ? "User account been been blocked" : "The account is active")
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Edit","Customer", new { @customerId = Model.Id })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Edit Profile</a>
        </div>
        <div class="form-actions">
            <a href="@Request.QueryString["returnurl"]">Return to search results</a>
        </div>
    </div>
</div>

<h2>Subscriptions</h2>
@if (CustomerSubscriptionSearchResponse.ItemCount == 0)
{
    <p>The customer has no subscriptions.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Created</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CustomerSubscriptionSearchResponse.Items)
            {
                <tr>
                    <td data-title="Plan">
                        @item.SubscriptionPlanName
                    </td>
                    <td data-title="Created">
                        @item.CreatedAt.ToString("ddd d MMM yyyy")<br/>
                        <small>at @item.CreatedAt.ToString("HH:mm:ss")</small>
                    </td>
                    <td data-title="Status">
                        @if (item.ExpiryDate.HasValue && item.ExpiryDate <= DateTime.UtcNow)
                    {
                        if (item.CancellationDate.HasValue)
                        {
                                <span>Inactive, cancelled @item.CancellationDate.Value.ToString("ddd d MMM yyyy HH:mm tt"), effective @(item.CancellationDate.Value == item.ExpiryDate.Value ? "immediately" : "from " + item.ExpiryDate.Value.ToString("d MMM yyyy HH:mm tt")) </span>
                            }
                            else
                            {
                                <span>Inactive, expired on @item.ExpiryDate.Value.ToString("ddd d MMM yyyy HH:mm tt")</span>
                            }
                        }
                        else
                        {
                            if (item.CancellationDate.HasValue)
                            {
                                <span>Active, cancelled @item.CancellationDate.Value.ToString("ddd d MMM yyyy HH:mm tt"), effective @(item.CancellationDate.Value == item.ExpiryDate.Value ? "immediately" : "from " + item.ExpiryDate.Value.ToString("d MMM yyyy HH:mm tt")) </span>
                            }
                            else if (item.ExpiryDate.HasValue)
                            {
                                <span>Active, expires on @item.ExpiryDate.Value.ToString("ddd d MMM yyyy HH:mm tt")</span>
                            }
                            else
                            {
                                <span>Active, renews on @item.RenewalDate.ToString("ddd d MMM yyyy HH:mm tt")</span>
                            }
                        }
                        @Html.Raw(!string.IsNullOrEmpty(@item.CancellationReason) ? "<br />Reason: " + item.CancellationReason : "")
                    </td>
                    <td data-title="Action">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Action
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @if (!item.CancellationDate.HasValue)
                                {
                                    <li><a href="/controlpanel/customers/@Model.Id/customersubscription/@item.Id/cancel/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])"> Cancel Subscription </a></li>
                                }
                                @if (item.CancellationDate.HasValue)
                                {
                                    <li><a href="/controlpanel/customers/@Model.Id/customersubscription/@item.Id/reactivate/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])"> Reactivate Subscription </a></li>
                                }
                                <li><a href="/controlpanel/customers/@Model.Id/customersubscription/@item.Id/edit/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Change Plan</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Payments</h2>
@if (TransactionSearchResponse.ItemCount == 0)
{
    <p>The customer has no transactions.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TransactionSearchResponse.Items)
                {
                <tr onclick="eModal.iframe({url: '/controlpanel/transaction/@item.Id?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)', title:'Payment', size: eModal.size.lg});">
                    <td>
                        <strong>@item.Amount.ToString("0.00") @StreamAMG.OTTPlatform.Utility.Helpers.GetCurrencySymbol(item.Currency) </strong><br /> @item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")
                    </td>
                    <td>
                        <strong>@item.Description</strong><br />
                        @item.Reference<br />
                        <small class="text-danger">@item.ProviderMessage</small>
                    </td>
                    <td>
                        @if (item.SubmittedAt.HasValue)
                    {
                        if (item.Status == -1)
                        {
                                <span class="text-error">Failed</span>
                            }
                            else if (item.Status == 1)
                            {
                                <span class="text-success">Success</span>
                            }
                            else
                            {
                                if (item.WarnAt.HasValue && item.WarnAt.Value <= DateTime.UtcNow)
                                {
                                    <span class="text-warning">Warning</span>
                                }
                                else
                                {
                                    <span>Processing</span>
                                }
                                if (item.WarnAt.HasValue)
                                {
                                    <br /><small>Response expected by @item.WarnAt.Value.ToString("ddd d MMM yyyy HH:mm:ss")</small>
                                }

                            }
                        }
                        else
                        {
                            <span>Prepared</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<h2>Refunds</h2>
@if (TransactionRefundSearchResponse.ItemCount == 0)
{
    <p>The customer has no refunds.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TransactionRefundSearchResponse.Items)
            {
                <tr onclick="eModal.iframe({url: '/controlpanel/transaction/@item.CustomerTransactionId?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)', title:'Payment', size: eModal.size.lg});">
                    <td>
                        <strong>@item.Amount.ToString("0.00") @StreamAMG.OTTPlatform.Utility.Helpers.GetCurrencySymbol(item.Currency) </strong><br /> @item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")
                    </td>
                    <td>
                        <strong>@item.Description</strong><br />
                        @item.Reference<br />
                        <small class="text-danger">@item.ProviderMessage</small>
                    </td>
                    <td>
                        @if (item.SubmittedAt.HasValue)
                    {
                        if (item.Status == -1)
                        {
                                <span class="text-error">Failed</span>
                            }
                            else if (item.Status == 1)
                            {
                                <span class="text-success">Success</span>
                            }
                            else
                            {
                                if (item.WarnAt.HasValue && item.WarnAt.Value <= DateTime.UtcNow)
                                {
                                    <span class="text-warning">Warning</span>
                                }
                                else
                                {
                                    <span>Processing</span>
                                }
                                if (item.WarnAt.HasValue)
                                {
                                    <br /><small>Response expected by @item.WarnAt.Value.ToString("ddd d MMM yyyy HH:mm:ss")</small>
                                }

                            }
                        }
                        else
                        {
                            <span>Prepared</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<h2>Emails</h2>
@if (MailLogResponse.ItemCount == 0)
{
    <p>No emails have been sent to this customer.</p>
}
else
{
    <div class="table-responsive table-overflow">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Sent</th>
                    <th>Subject</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in MailLogResponse.Items)
                {
                    <tr onclick="eModal.iframe({url: '/controlpanel/maillog/view/@item.Id?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)', title:'Email', size: eModal.size.lg});">
                        <td>
                            <strong>@item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")</strong><br />
                            @item.MailTo
                        </td>
                        <td>
                            <strong>@item.Subject</strong>
                        </td>
                        <td>
                            @switch (item.Status)
                            {
                                case -2:
                                    <span>Rejected</span>
                                    break;
                                case -1:
                                    <span>Failed</span>
                                    break;
                                case 0:
                                    <span>Prepared</span>
                                    break;
                                case 1:
                                    <span>Sent</span>
                                    break;
                                case 2:
                                    <span>Delivered</span>
                                    break;
                                case 3:
                                    <span>Opened</span>
                                    break;
                                case 4:
                                    <span>Interacted</span>
                                    break;
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h2>Activity</h2>
@if (CustomerSessionSearchResponse.ItemCount == 0)
{
    <p>There has been no activity on the customer account.</p>
}
else
{
    <div class="table-responsive table-overflow">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody id="alternatingTable">
                @foreach (var item in CustomerSessionSearchResponse.Items)
                {
                    <tr>
                        <td colspan="3">
                            <b>@item.Title</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")<br/>
                            <small>@item.UserAgentDeviceType</small>
                        </td>
                        <td>
                            @(string.IsNullOrWhiteSpace(item.IpAddressLocation) ? "Unknown Location" : item.IpAddressLocation)<br />
                            <small>@(string.IsNullOrWhiteSpace(item.IpAddress) ? "Unknown IP Address" : item.IpAddress)</small>
                        </td>
                        <td>
                            @item.UserAgentOs @item.UserAgentOsVersion<br />
                            <small>@item.UserAgentBrowser @item.UserAgentBrowserVersion</small>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="form-actions">
            <a href="@Request.QueryString["returnurl"]">Return to search results</a>
        </div>
    </div>
</div>
