﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.TransacrionIssueRefundViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Issue Customer Refund";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Window.cshtml";
}
<p>Complete the form below to issue a refund; the orginal transaction value was @Model.TransactionAmount.ToString("0.00") @Model.TransactionCurrency.</p>

@if (ViewBag.Success == true)
{
    Response.Redirect(Url.Action("View", "Transaction", new { @customerTransactionId = ViewContext.RouteData.Values["customerTransactionId"] }) + "?returnurl="  + HttpUtility.UrlEncode(Request.QueryString["returnurl"]));
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>The refund could not be issued, because @ViewBag.ErrorMessage</p>
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.TransactionCurrency)
    @Html.HiddenFor(m => m.TransactionAmount)
    @Html.HiddenFor(m => m.TransactionAmountRefunded)
    @Html.HiddenFor(m => m.RefundAmountMax)

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(m => m.RefundAmount, new { @class = "control-label" }) <label>(@StreamAMG.OTTPlatform.Utility.Helpers.GetCurrencySymbol(Model.TransactionCurrency))</label>
                @Html.TextBoxFor(m => m.RefundAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                @Html.LabelFor(m => m.RefundReason, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.RefundReason, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-success">Process Refund</button>
            </div>
            <div class="form-actions">
                <a href="@Url.Action("View","Transaction", new { @customerTransactionId = ViewContext.RouteData.Values["customerTransactionId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to payment</a>
            </div>
        </div>
    </div>
}
