﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.TransactionViewViewModel
@using StreamAMG.OTTPlatform.Core.Services

@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Payment";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Window.cshtml";
    var TransactionRefundSearchResponse = CustomerTransactionRefundService.TransactionRefundSearch(new CustomerTransactionRefundService.TransationRefundSearchRequest { CustomerTransactionId = new Guid(ViewContext.RouteData.Values["customerTransactionId"].ToString()), TransactionStatus = null, PageIndex = 0, PageSize = int.MaxValue });
}

@if (Model.Status == -1)
{
    <div class="alert alert-danger" role="alert">The payment could not be taken because : @Model.ProviderMessage</div>
}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Description</label>
            <p class="form-control-static">
                @Model.Description
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Payment method</label>
            <p class="form-control-static">
                @if (Model.Provider == "StripeCard")
                {
                    <span>@Model.Reference</span>
                }
                else if (Model.Provider == "PayPal")
                {
                    <span>PayPal account @Model.Reference</span>
                }
                else
                {
                    <span>@Model.Reference</span>
                }
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label">Amount</label>
            <p class="form-control-static">
                @Model.Amount.ToString("0.00")
                @Model.Currency
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Processor</label>
            <p class="form-control-static">
                @if (Model.Provider == "StripeCard")
                {
                    <span>Stripe, transaction id @(string.IsNullOrWhiteSpace(Model.ProviderId) ? "none" : Model.ProviderId)</span>
                }
                else if (Model.Provider == "PayPal")
                {
                    <span>PayPal, transaction id @(string.IsNullOrWhiteSpace(Model.ProviderId) ? "none" : Model.ProviderId)</span>
                }
                else
                {
                    <span>@Model.Provider, transaction id @(string.IsNullOrWhiteSpace(Model.ProviderId) ? "none" : Model.ProviderId)</span>
                }
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Date and Time</label>
            <p class="form-control-static">
                @Model.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label">Status</label>
            <p class="form-control-static">
                @if (Model.Status == -1)
                {
                    <span>Failed</span>
                }
                else if (Model.Status == 1)
                {
                    <span>Success</span>
                }
                else
                {
                    <span>Pending</span>
                }
            </p>
        </div>
    </div>
</div>
<h2>Refunds</h2>
@if (TransactionRefundSearchResponse.ItemCount == 0)
{
    <p>No refunds have been attempted.</p>
}
else
{
    <table id="customersTable" class="table table-striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TransactionRefundSearchResponse.Items)
            {
                <tr>
                    <td>
                        <strong>@item.Amount.ToString("0.00") @StreamAMG.OTTPlatform.Utility.Helpers.GetCurrencySymbol(item.Currency) </strong><br /> @item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")
                    </td>
                    <td>
                        <strong>@item.Description</strong><br />                        
                        @item.Reason<br />
                        <small class="text-danger">@item.ProviderMessage</small>
                    </td>
                    <td>
                        @if (item.SubmittedAt.HasValue)
                    {
                        if (item.Status == -1)
                        {
                                <span class="text-error">Failed</span>
                            }
                            else if (item.Status == 1)
                            {
                                <span class="text-success">Success</span>
                            }
                            else
                            {
                                if (item.WarnAt.HasValue && item.WarnAt.Value <= DateTime.UtcNow)
                                {
                                    <span class="text-warning">Warning</span>
                                }
                                else
                                {
                                    <span>Processing</span>
                                }
                                if (item.WarnAt.HasValue)
                                {
                                    <br /><small>Response expected by @item.WarnAt.Value.ToString("ddd d MMM yyyy HH:mm:ss")</small>
                                }

                            }
                        }
                        else
                        {
                            <span>Prepared</span>
                        }
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
}
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("IssueRefund","Transaction", new { @customerTransactionId = ViewContext.RouteData.Values["customerTransactionId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Refund</a>
        </div>
    </div>
</div>