﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomFieldEditViewModel
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Custom Field";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var CurrentCustomField = CustomFieldService.GetCustomField(new CustomFieldService.GetCustomFieldRequest { CustomFieldId = new Guid(ViewContext.RouteData.Values["customFieldId"].ToString()) }).CustomField;
}
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            if ((ViewContext.RouteData.Values["language"] == null && StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language)) || (ViewContext.RouteData.Values["language"] != null && language == ViewContext.RouteData.Values["language"].ToString()))
            {
                <img src="/areas/controlpanel/_resx/images/languages/@(language).png" /> @(StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language)) <span class="caret"></span>
            }
        }
    </button>
    <ul class="dropdown-menu">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            <li>
                <a href="/controlpanel/customfield/@ViewContext.RouteData.Values["customFieldId"]@( StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language) ? "/edit/" : "/translate/" + language)/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">
                    <img src="/areas/controlpanel/_resx/images/languages/@(language).png" />
                    @( StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language))
                </a>
            </li>
        }
    </ul>
</div>
<h1>@CurrentCustomField.Name</h1>
<p>Please complete for form below to make changes to the custom field '<b><i>@CurrentCustomField.Name</i></b>', changes made may be cached.</p>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Label, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Label, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayOrder, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <h2>Validation</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Required, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Required, new SelectList(new[] { new { Value = "true", Text = "Yes, the field is mandataory" }, new { Value = "false", Text = "No, the field is optional" } }, "Value", "Text", 1), "", new { @class = "form-control" })                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RequiredMessage, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.RequiredMessage, new { @class = "form-control" })
            </div>
        </div>
        
    </div>
    <h2>Options</h2>
    <p>Options can be ordered by dragging and dropping the rows.</p>
    <ul id="optionsEditor" style="list-style-type: none; padding: 0;">
        @foreach (var option in Model.Options)
        {
            Html.RenderPartial("EditOption", option);
        }
    </ul>
    <a id="optionsEditorAdd" href="#">Add another option</a>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View", "CustomField", new { @customFieldId = ViewContext.RouteData.Values["customFieldId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to custom field details</a>
            </div>
        </div>
    </div>
}
<script>
    $("#optionsEditorAdd").click(function () {
        $.post('@Url.Action("EditAddOption", "CustomField")', function (v) { $("#optionsEditor").append(v); });
        return false;
    });

  $( function() {
      $("#optionsEditor").sortable();
      $("#optionsEditor").disableSelection();
  } );
</script>