﻿@using StreamAMG.OTTPlatform.Areas.ControlPanel.Infrastructure;
@model  StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomFieldEditTranslationViewModel.Option

<li style="padding-bottom: 15px" >
    @using (Html.BeginCollectionItem("Options"))
    {
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ReportingValueOriginal, new { @class = "control-label" }) <small>used for reporting</small>
                    @Html.TextBoxFor(m => m.ReportingValueOriginal, new { @class = "form-control", @readonly = "readonly" })                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.DisplayValue, new { @class = "control-label" }) <small>presented to the user</small>
                    @Html.TextBoxFor(m => m.DisplayValue, new { @class = "form-control", @placeholder = Model.DisplayValueOriginal })
                    @Html.HiddenFor(m => m.DisplayValueOriginal)
                </div>
            </div>                
        </div>    
    }
</li>