﻿@using StreamAMG.OTTPlatform.Areas.ControlPanel.Infrastructure;
@model  StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomFieldEditViewModel.Option

<li style="padding-bottom: 15px" >
    @using (Html.BeginCollectionItem("Options"))
    {
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ReportingValue, new { @class = "control-label" }) <small>used for reporting</small>
                    @Html.TextBoxFor(m => m.ReportingValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ReportingValue)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.DisplayValue, new { @class = "control-label" }) <small>presented to the user</small>
                    @Html.TextBoxFor(m => m.DisplayValue, new { @class = "form-control" })
                </div>
            </div>                
        </div>
    <a href="#" onclick="$(this).parent().remove();return false;">Delete</a>
    }
</li>