﻿@model CustomFieldService.GetCustomFieldListResponse
@using StreamAMG.OTTPlatform.Core.Services;
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Custom Field";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Custom Fields</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount custom fields.</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Input Type</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr onclick="document.location.href = '@Url.Action("Edit", "CustomField", new { @customFieldId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)';">
                        <td>@item.Name</td>
                        <td>@item.InputType</td>
                        <td>@item.Label</td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
    @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
}