﻿@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Custom Field";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var CurrentCustomField = CustomFieldService.GetCustomField(new CustomFieldService.GetCustomFieldRequest { CustomFieldId = new Guid(ViewContext.RouteData.Values["customFieldId"].ToString()) }).CustomField;
}

<h1>@CurrentCustomField.Name</h1>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Label</label>
            <p class="form-control-static">
                @CurrentCustomField.Label
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Display Order</label>
            <p class="form-control-static">
               @CurrentCustomField.DisplayOrder
            </p>
        </div>
    </div>
</div>
<h2>Options</h2>
@if (CurrentCustomField.Options.Count == 0)
{
    <p>There are currently no options assigned to this field, edit teh field to add new options.</p>
}
else
{ 
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Value</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var option in CurrentCustomField.Options)
        {
            <tr>
                <td>@option.ReportingValue</td>
                <td>@option.DisplayValue</td>
            </tr>
        }
        </tbody>
    </table>
}
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Edit","CustomField", new { @customFieldId = new Guid(ViewContext.RouteData.Values["customFieldId"].ToString()) })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Edit Custom Field</a>
        </div>
        <div class="form-actions">
            <a href="@Request.QueryString["returnurl"]">Return to custom field list</a>
        </div>
    </div>
</div>