﻿body {
    min-height: 2000px;
    padding-top: 55px;
}

.filter {
    float: right;
    vertical-align: middle;
}

.center {
    text-align: center;
}


.child-row { 
    background-color: #e6f2ff !important;
    display:none;
}

a { 
    cursor: pointer; 
}
a:hover, a:focus, a:active { 
    text-decoration: none !important; 
}