﻿@model CustomerTransactionRefundService.TransationRefundSearchResult
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Refunds";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>Refunds</h1>
<div class="well">
    <form class="form-inline" action="/controlpanel/transaction/">
        <div class="form-group">
            <label for="filter-status">Status</label>
            <select class="form-control" id="filter-status" name="status">
                <option value="">Any Status</option>
                <option value="failure" @(Request.QueryString["status"] == "failure" ? "selected" : "")>Failed</option>
                <option value="success" @(Request.QueryString["status"] == "success" ? "selected" : "")>Successful</option>
                <option value="warning" @(Request.QueryString["status"] == "warning" ? "selected" : "")>Warning</option>
                <option value="processing" @(Request.QueryString["status"] == "processing" ? "selected" : "")>Processing</option>
                <option value="prepared" @(Request.QueryString["status"] == "prepared" ? "selected" : "")>Prepared</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Subscription Plan</label>
            <select class="form-control" id="sel1" name="subscriptionplanid">
                <option value="">Any Subscription Plan</option>
                @foreach (var item in SubscriptionPlanService.GetSubscriptionPlanList(new SubscriptionPlanService.GetSubscriptionPlanListRequest { PageIndex = 0, PageSize = 20 }).Items)
                {
                    <option value="@item.Id.ToString()" @(Model.Request.SubscriptionPlanId == item.Id ? "selected" : "")>@item.Name Subscription Plan</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="filter-date">Date</label>
            <input type="text" class="form-control" id="filter-date" placeholder="" value="">
            <input type="hidden" id="filter-date-from" value="@Model.Request.DateFrom.Value.ToString("ddMMyyyy")" name="datefrom" />
            <input type="hidden" id="filter-date-to" value="@Model.Request.DateTo.Value.ToString("ddMMyyyy")" name="dateto" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount refunds.</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
<div class="table-responsive">
    <table id="customersTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Customer</th>
                <th>Payment</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr onclick="eModal.iframe({url: '/controlpanel/transaction/@item.CustomerTransactionId?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)', title:'Payment', size: eModal.size.lg});">
                    <td>
                        <strong>@StreamAMG.OTTPlatform.Utility.Helpers.GetCurrencySymbol(item.Currency) @item.Amount.ToString("0.00")</strong><br /> @item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")
                    </td>
                    <td>
                        <strong>@item.CustomerFirstName @item.CustomerLastName </strong> <br /> @item.CustomerEmailAddress
                    </td>
                    <td>
                        <strong>@item.Description</strong><br /> @item.Reference
                    </td>
                    <td>
                        @if (item.SubmittedAt.HasValue)
                        {
                            if (item.Status == -1)
                            {
                                <span>Failed</span>
                            }
                            else if (item.Status == 1)
                            {
                                <span>Success</span>
                            }
                            else
                            {
                                if (item.WarnAt.HasValue && item.WarnAt.Value <= DateTime.UtcNow)
                                {
                                    <span>Warning</span>
                                }
                                else
                                {
                                    <span>Processing</span>
                                }
                                if (item.WarnAt.HasValue)
                                {
                                    <br /><small>Response expected by @item.WarnAt.Value.ToString("ddd d MMM yyyy HH:mm:ss")</small>
                                }

                            }
                        }
                        else
                        {
                            <span>Prepared</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="/controlpanel/transactionrefund/?export=csv&@Request.QueryString.ToString()" class="btn btn-info">Export <span class="visible-xxxs">to CSV</span></a>
        </div>
        <div class="form-group">
            @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
        </div>
    </div>
</div>
}
<script>
    $('#filter-date').daterangepicker({
        "autoApply": true,
        "ranges": {
            "This Month": [
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ],
            "Previous Month": [
                "@DateTime.UtcNow.AddMonths(-2).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")"
            ]
        },
        "locale": {
            "format": "ddd D MMM YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "firstDay": 1
        },
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true,
        "startDate": "@Model.Request.DateFrom.Value.ToString("ddd d MMM yyyy")",
        "endDate": "@Model.Request.DateTo.Value.ToString("ddd d MMM yyyy")",
        "opens": "left"
    }, function (start, end, label) {
        $("#filter-date-from").val(start.format('DDMMYYYY'));
        $("#filter-date-to").val(end.format('DDMMYYYY'));
    });
</script>