﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@ViewBag.Title</title>
               
    <link href="/areas/controlpanel/_resx/css/bootstrap.min.css" rel="stylesheet" />
  
    <script src="/areas/controlpanel/_resx/js/jquery-2.2.4.min.js"></script> 
    <script src="/areas/controlpanel/_resx/js/bootstrap.min.js"></script>
  
    <script>
        $(document).ready(function () {
            $("input[data-val-length-max]").each(function () {
                var $this = $(this);
                var data = $this.data();
                $this.attr("maxlength", data.valLengthMax);
            });
        });
    </script>

    <style type="text/css">
        @@media (min-width: 768px) {
            .container {
                width: 450px;
            }
        }

        @@media (min-width: 992px) {
            .container {
                width: 450px;
            }
        }

        @@media (min-width: 1200px) {
            .container {
                width: 450px;
            }
        }
    </style>
</head>
<body>    
    @RenderBody()    
</body>
</html>
