﻿<!DOCTYPE html>

<html>
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/areas/controlpanel/_resx/css/theme.css" rel="stylesheet" />    
    <link href="/areas/controlpanel/_resx/css/daterangepicker.css" rel="stylesheet" />    
    <link href="/areas/controlpanel/_resx/css/bootstrap-select.1.11.0.css" rel="stylesheet" />    

    <script src="/areas/controlpanel/_resx/js/jquery-2.2.4.min.js"></script>
    <script src="/areas/controlpanel/_resx/js/jquery-1.12.0.min.js"></script>
    <script src="/areas/controlpanel/_resx/js/modernizr.js"></script>
    <script src="/areas/controlpanel/_resx/js/bootstrap.min.js"></script>    
    <script src="/areas/controlpanel/_resx/js/jquery-ui.min.js"></script>   
    <script src="/areas/controlpanel/_resx/js/script.js"></script>   
    <script src="/areas/controlpanel/_resx/js/emodal.js"></script>   
    
    <script src="/areas/controlpanel/_resx/js/sprintf.js"></script>   
    <script src="/areas/controlpanel/_resx/js/moment.js"></script>   
    <script src="/areas/controlpanel/_resx/js/daterangepicker.js"></script>   
    <script src="/areas/controlpanel/_resx/js/bootstrap-select.1.11.0.js"></script>
</head>
<body style="min-height: 2000px;padding-top: 55px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/controlpanel/">@System.Configuration.ConfigurationManager.AppSettings["SiteName"]</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Customer")">Customer Accounts</a></li>
                        </ul>
                    </li> 
                  
                     
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logs<span class="caret"></span></a>
                        <ul class="dropdown-menu">                                               
                            <li class="dropdown-header">Payments</li>         
                            <li><a href="/controlpanel/transaction/">All</a></li>                            
                            <li><a href="/controlpanel/transaction/?status=failure">Failed</a></li>
                            <li><a href="/controlpanel/transaction/?status=success">Successful</a></li>
                            <li><a href="/controlpanel/transaction/?status=warning">Warning</a></li>                            
                            <li><a href="/controlpanel/transaction/?status=processing">Processing</a></li>         
                            <li><a href="/controlpanel/transaction/?status=prepared">Prepared</a></li>
                            <li class="dropdown-header">Refunds</li>         
                            <li><a href="/controlpanel/transactionrefund/">All</a></li>
                            <li><a href="/controlpanel/transactionrefund/?status=failure">Failed</a></li>
                            <li><a href="/controlpanel/transactionrefund/?status=success">Successful</a></li>
                            <li><a href="/controlpanel/transactionrefund/?status=warning">Warning</a></li>
                            <li><a href="/controlpanel/transactionrefund/?status=processing">Processing</a></li>
                            <li><a href="/controlpanel/transactionrefund/?status=prepared">Prepared</a></li>
                            <li class="dropdown-header">Emails</li>
                            <li><a href="/controlpanel/maillog/">All</a></li>
                            <li><a href="/controlpanel/maillog/?status=rejected">Rejected</a></li>
                            <li><a href="/controlpanel/maillog/?status=failed">Failed</a></li>
                            <li><a href="/controlpanel/maillog/?status=sent">Sent</a></li>
                            <li><a href="/controlpanel/maillog/?status=delivered">Delivered</a></li>
                            <li><a href="/controlpanel/maillog/?status=opened">Opened</a></li>
                            <li><a href="/controlpanel/maillog/?status=interacted">Interacted</a></li>                            
                        </ul>
                    </li> 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/controlpanel/subscriptionplans">Subscription Plans</a></li>
                            <li><a href="@Url.Action("Index","Offer")">Offers</a></li>
                            <li><a href="@Url.Action("Index","CustomField")">Custom Fields</a></li>
                            <li><a href="/controlpanel/mailtemplate">Email Templates</a></li>
                            <li><a href="@Url.Action("Index","User")">Manage Users</a></li>
                        </ul>
                    </li>                    
                    <li><a href="/controlpanel/logout">Logout</a></li>
                </ul>              
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="@Html.Raw(ViewBag.FullWidth != true ? "container" : "")">
        @RenderBody()
    </div>
    <script>
        $(document).ready(function () {
            $("input[data-val-length-max]").each(function () {
                var $this = $(this);
                var data = $this.data();
                $this.attr("maxlength", data.valLengthMax);
            });
        });
    </script>
</body>
</html>
