﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="/areas/controlpanel/_resx/css/theme.css" rel="stylesheet" />

    <script src="/areas/controlpanel/_resx/js/jquery-2.2.4.min.js"></script>
    <script src="/areas/controlpanel/_resx/js/modernizr.js"></script>
    <script src="/areas/controlpanel/_resx/js/bootstrap.min.js"></script>
    <script src="/areas/controlpanel/_resx/js/jquery-ui.min.js"></script>
    <script src="/areas/controlpanel/_resx/js/script.js"></script>
    <script src="/areas/controlpanel/_resx/js/emodal.js"></script>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    
        @RenderBody()
    
    <script>
        $(document).ready(function () {
            $("input[data-val-length-max]").each(function () {
                var $this = $(this);
                var data = $this.data();
                $this.attr("maxlength", data.valLengthMax);
            });
        });
    </script>
</body>
</html>
