﻿<html>
<head>
    <title>{{name}}, here's the link to reset your {{sitename}} password‏</title>
</head>
<body>
    <p>Hi {{name}},</p>

    <p>You recently requested a password reset.</p>

    <p>To change your password,  <a href="{{reseturl}}">click here</a> or paste the following link into your browser:</p>
        

    <p>{{reseturl}}</p>

    <p>The link will expire in 1 hour so be sure to use it right away.</p>
    
    <p>If you did not request this password reset please contact support@streamuk.com</p>

    <p>The {{sitename}} Team</p>

</body>
</html>
