﻿<html>
<head>
    <title>{{name}}, your new {{sitename}} administration account</title>
</head>
<body>
    <p>Hi {{name}},</p>

    <p>We have setup your {{sitename}} administration account, your username is {{username}}.</p>    

    <p>To begin you will need to setup your password, by <a href="{{reseturl}}">clicking here</a> or paste the following link into your browser:</p>

    <p>{{reseturl}}</p>

    <p>The link will expire so be sure to use it right away.</p>
    
    <p>The {{sitename}} Team</p>

</body>
</html>
