﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.OfferEditViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Offers";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var CurrentOffer = StreamAMG.OTTPlatform.Core.Services.OfferService.Get(new StreamAMG.OTTPlatform.Core.Services.OfferService.GetRequest { OfferId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) }).Offer;
}
<h1>@CurrentOffer.Name</h1>
<p>Please complete the form below to make any changes to the offer '@CurrentOffer.Name', changes will only apply to voucher codes which have not already been redeemd.</p>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Discount, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.AppliesToSubscriptionPlanId, new { @class = "control-label" })
                @Html.ListBoxFor(m => m.AppliesToSubscriptionPlanId, StreamAMG.OTTPlatform.Core.Services.SubscriptionPlanService.GetSubscriptionPlanList(new StreamAMG.OTTPlatform.Core.Services.SubscriptionPlanService.GetSubscriptionPlanListRequest { PageIndex = 0, PageSize = int.MaxValue }).Items.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }).ToList(), new { @multiple = "multiple", @class = "selectpicker form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.AppliesFor, new { @class = "control-label" })
                @Html.TimeSpanFor(m => m.AppliesFor, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View", "Offer", new { @offerId = ViewContext.RouteData.Values["offerId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to offer details</a>
            </div>
        </div>
    </div>
}

