﻿@model OfferService.GetOfferListResponse
@using StreamAMG.OTTPlatform.Core.Services;
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Offers";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Offers</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount offers.</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr onclick="document.location.href = '@Url.Action("View", "Offer", new { @offerId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)';">
                        <td >
                            <strong>@item.Name</strong>
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <a href="@Url.Action("Create", "Offer")?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)" class="btn btn-info">Create <span class="visible-xxxs">a new Offer</span></a>
                <a href="/controlpanel/offer/?export=csv&@Request.QueryString.ToString()" class="btn btn-info">Export <span class="visible-xxxs">to CSV</span></a>
            </div>
            <div class="form-group">
                @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <a href="@Url.Action("Create", "Offer")?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)" class="btn btn-info">Create <span class="visible-xxxs">a new Offer</span></a>                
            </div>
            <div class="form-group">
                &nbsp;
            </div>
        </div>
    </div>
}
