﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.OfferIssueViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Offers";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var CurrentOffer = StreamAMG.OTTPlatform.Core.Services.OfferService.Get(new StreamAMG.OTTPlatform.Core.Services.OfferService.GetRequest { OfferId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) }).Offer;
}
<h1>@CurrentOffer.Name</h1>
<p>Please complete the form below to create a new lost of voucher codes for '@CurrentOffer.Name', vouchers will be created and availiable for download later, we recommend using a unique campaign name to track success.</p>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Campaign, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Campaign, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Quantity, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
            </div>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Create <span class="visible-xxxs">vouchers</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View", "Offer", new { @offerId = ViewContext.RouteData.Values["offerId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to offer details</a>
            </div>
        </div>
    </div>
}

