﻿@model OfferViewModel
@using StreamAMG.OTTPlatform.Areas.ControlPanel.Models
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Offers";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var CurrentOffer = OfferService.Get(new OfferService.GetRequest { OfferId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) }).Offer;
}
<h1>@Model.Name Offer</h1>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Discount, new { @class = "control-label" })
            <p class="form-control-static">
                @Model.Discount.ToString("0.00")%
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(m => m.AppliesFor, new { @class = "control-label" })
            <p class="form-control-static">
                @StreamAMG.OTTPlatform.Utility.TimeSpanExpression.ToString(Model.AppliesFor,"Not set")
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.AppliesToSubscriptionPlanId, new { @class = "control-label" })
            <p class="form-control-static">
                @SubscriptionPlanService.GetSubscriptionPlanList( new SubscriptionPlanService.GetSubscriptionPlanListRequest { IdIn = CurrentOffer.SubscriptionPlanId, PageIndex = 0, PageSize = int.MaxValue } ).Items.Select(g => g.Name).Aggregate((working, next) => working + ", " + next)
            </p>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Edit","Offer", new { @offerId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) } )?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Edit Offer</a>
        </div>
        <div class="form-group">
            <a href="@Request.QueryString["returnurl"]">Return to offer listing</a>
        </div>
    </div>
</div>
<h2>Vouchers</h2>
@{ 
    var GetOfferListRequest = new OfferVoucherService.GetOfferVoucherListRequest { PageIndex = 0, PageSize = 20, OfferId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) };

    if (!string.IsNullOrWhiteSpace(Request.QueryString["pageindex"]))
    {
        GetOfferListRequest.PageIndex = Convert.ToInt32(Request.QueryString["pageindex"]);
    }

    var GetOfferListResult = OfferVoucherService.GetOfferVoucherList(GetOfferListRequest);
}

@if (GetOfferListResult.ItemCount > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Campaign</th>
                    <th>Redeemed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in GetOfferListResult.Items)
                {
                    <tr>
                        <td>
                            @(string.IsNullOrWhiteSpace(item.Code) ? "Generating" : item.Code)
                        </td>
                        <td>          
                            @item.ValidFrom
                        </td>
                        <td>
                            @item.ValidTo
                        </td>
                        <td>
                            @item.Campaign
                        </td>
                        <td>
                            @if (item.RedeemedAt.HasValue)
                            {
                                <span>
                                    <a href="@Url.Action("View", "Customer", new { @customerId = item.RedeemedByCustomerId })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)"><span class="glyphicon glyphicon-user"></span> @item.RedeemedByCustomerEmailAddress</a>
                                    
                                    <br /><small>at @item.RedeemedAt.ToString()</small>

                                </span>
                            }
                            else
                            {
                                <span>Not redeemed</span>
                            }
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <a href="/controlpanel/offer/@ViewContext.RouteData.Values["offerId"].ToString()/?export=csv&@Request.QueryString.ToString()" class="btn btn-info">Export <span class="visible-xxxs">to CSV</span></a>
                <a href="@Url.Action("Issue","Offer", new { @offerId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) } )?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Issue Vouchers</a>
            </div>
            <div class="form-group">
                @HtmlExtensions.Pager(GetOfferListResult.PageIndex, GetOfferListResult.PageSize, GetOfferListResult.ItemCount)
            </div>            
        </div>
    </div>
}
else
{
    <p>No vouchers have been issued, click issue vouchers to generate voucher codes.</p>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">                
                <a href="@Url.Action("Issue","Offer", new { @offerId = new Guid(ViewContext.RouteData.Values["offerId"].ToString()) } )?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Issue Vouchers</a>
            </div>
            <div class="form-group">
                
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <a href="@Request.QueryString["returnurl"]">Return to offer listing</a>
        </div>
    </div>
</div>
