﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.SubscriptionPlanViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Subscription Plan";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Create Subscription Plan</h1>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.StatementDescription, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.StatementDescription, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Entitlements, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Entitlements, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.Deleted, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Deleted, new SelectList(new[] { new { Value = "true", Text = "Yes" }, new { Value = "false", Text = "No" } }, "Value", "Text", 1), "{Default Select Value}", new { @class = "form-control" })

        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayOrder, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.ListingTitle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingTitle, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingBody, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ListingBody, new { @class = "form-control", @rows = 10 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingStyle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingStyle, new { @class = "form-control" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutTitle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutTitle, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutBody, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.CheckoutBody, new { @class = "form-control", @rows = 10 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutStyle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutStyle, new { @class = "form-control" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.ListingTitleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingTitleWithFreeTrial, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingBodyWithFreeTrial, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ListingBodyWithFreeTrial, new { @class = "form-control", @rows = 10 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingStyleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingStyleWithFreeTrial, new { @class = "form-control" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutTitleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutTitleWithFreeTrial, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutBodyWithFreeTrial, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.CheckoutBodyWithFreeTrial, new { @class = "form-control", @rows = 10 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutStyleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutStyleWithFreeTrial, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Request.QueryString["returnurl"]">Return to subscription plan details</a>
            </div>
        </div>
    </div>
}