﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.SubscriptionPlanTranslationViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Subscription Plan Translation";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            if ((ViewContext.RouteData.Values["language"] == null && StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language)) || (ViewContext.RouteData.Values["language"] != null && language == ViewContext.RouteData.Values["language"].ToString()))
            {
                <img src="/areas/controlpanel/_resx/images/languages/@(language).png" /> @(StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language)) <span class="caret"></span>
            }
        }
    </button>
    <ul class="dropdown-menu">
        @foreach (var language in StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageCodes)
        {
            <li>
                <a href="/controlpanel/subscriptionplan/@ViewContext.RouteData.Values["subscriptionplanid"]@( StreamAMG.OTTPlatform.Utility.SystemLanguages.IsDefaultLanguage(language) ? "/edit/" : "/translate/" + language)/?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">
                    <img src="/areas/controlpanel/_resx/images/languages/@(language).png" />
                    @( StreamAMG.OTTPlatform.Utility.SystemLanguages.LanguageName(language))
                </a>
            </li>
        }
    </ul>
</div>
<h2>Edit Subscription Plan</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}

@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = Model.NameOriginal })
                @Html.HiddenFor(m => m.NameOriginal)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.StatementDescription, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.StatementDescription, new { @class = "form-control", @placeholder = Model.StatementDescriptionOriginal })
                @Html.HiddenFor(m => m.StatementDescriptionOriginal)
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.EntitlementsOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.EntitlementsOriginal, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.DeletedOriginal, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.DeletedOriginal, new SelectList(new[] { new { Value = "true", Text = "Yes" }, new { Value = "false", Text = "No" } }, "Value", "Text", 1), "{Default Select Value}", new { @class = "form-control", @readonly = true })
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayOrderOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DisplayOrderOriginal, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.ListingTitle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingTitle, new { @class = "form-control", @placeholder = Model.ListingTitleOriginal })
                @Html.HiddenFor(m => m.ListingTitleOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingBody, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ListingBody, new { @class = "form-control", @placeholder = Model.ListingBodyOriginal, @rows = 10 })
                @Html.HiddenFor(m => m.ListingBodyOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingStyleOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingStyleOriginal, new { @class = "form-control", @readonly = "true" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutTitle, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutTitle, new { @class = "form-control", @placeholder = Model.CheckoutTitleOriginal })
                @Html.HiddenFor(m => m.CheckoutTitleOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutBody, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.CheckoutBody, new { @class = "form-control", @placeholder = Model.CheckoutBodyOriginal, @rows = 10 })
                @Html.HiddenFor(m => m.CheckoutBodyOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutStyleOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutStyleOriginal, new { @class = "form-control", @readonly = "true" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.ListingTitleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingTitleWithFreeTrial, new { @class = "form-control", @placeholder = Model.ListingTitleWithFreeTrialOriginal })
                @Html.HiddenFor(m => m.ListingTitleWithFreeTrialOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingBodyWithFreeTrial, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ListingBodyWithFreeTrial, new { @class = "form-control", @placeholder = Model.ListingBodyWithFreeTrialOriginal, @rows = 10 })
                @Html.HiddenFor(m => m.ListingBodyWithFreeTrialOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ListingStyleWithFreeTrialOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ListingStyleWithFreeTrialOriginal, new { @class = "form-control", @readonly = "true" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutTitleWithFreeTrial, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutTitleWithFreeTrial, new { @class = "form-control", @placeholder = Model.CheckoutTitleWithFreeTrialOriginal })
                @Html.HiddenFor(m => m.CheckoutTitleWithFreeTrialOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutBodyWithFreeTrial, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.CheckoutBodyWithFreeTrial, new { @class = "form-control", @placeholder = Model.CheckoutBodyWithFreeTrialOriginal, @rows = 10 })
                @Html.HiddenFor(m => m.CheckoutBodyWithFreeTrialOriginal)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CheckoutStyleWithFreeTrialOriginal, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CheckoutStyleWithFreeTrialOriginal, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View","Subscription")?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to subscription plan details</a>
            </div>            
        </div>
    </div>
}
