﻿@model StreamAMG.OTTPlatform.Core.Services.SubscriptionPlanService.GetSubscriptionPlanListResponse
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Subscription Plans";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

    <h1>Subscription Plans</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Your search returned @Model.ItemCount subscription plans.</p>
            </div>
        </div>
    </div>
@if (Model.ItemCount > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Entitlements</th>                    
                </tr>
            </thead>
            <tbody>                
                @foreach (var item in Model.Items)
                {
                    <tr onclick="document.location.href = '@Url.Action("View", "Subscription", new { @subscriptionPlanId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)';">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Entitlements
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>      
    
}

<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Create","Subscription")?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)" class="btn btn-info">Add a new price</a>
        </div>
        <div class="form-group">
            @if (Model.ItemCount > 0)
            {
                @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
            }
        </div>
    </div>
</div>
