﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.SubscriptionPlanPriceViewModel
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Subscription Plan";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    var SubscriptionPlan = SubscriptionPlanService.Get(new SubscriptionPlanService.GetRequest { SubscriptionPlanId = new Guid(ViewContext.RouteData.Values["subscriptionPlanId"].ToString()) }).SubscriptionPlan;
}
<h1>@SubscriptionPlan.Name</h1>
<p>Please complete the form below to add a new price change to the <b><i>@SubscriptionPlan.Name</i></b> subscription plan, once a price change has been added it cannot be <b><i>edited or removed</i></b>, price changes must be made a minimum of seven days in advance.</p>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.EffectiveFrom, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.EffectiveFrom, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        @Html.DropDownListFor(m => m.Currency, new List<SelectListItem> {
                            new SelectListItem{ Text="", Value = "" },
                            new SelectListItem{ Text="Eur", Value = "EUR" },
                            new SelectListItem{ Text="Gbp", Value = "GBP" }
                        },
                    new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Interval, new { @class = "control-label" })
                @Html.TimeSpanFor(m => m.Interval, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Duration, new { @class = "control-label" })
                <small class="form-text text-muted">Leave empty for re-occuring</small>
                @Html.TimeSpanFor(m => m.Duration, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TrialDuration, new { @class = "control-label" })
                <small class="form-text text-muted">Leave empty for no trial</small>
                @Html.TimeSpanFor(m => m.TrialDuration, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Save <span class="visible-xxxs">changes</span></button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("View","Subscription")?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])">Return to subscription plan details</a>
            </div>

        </div>
    </div>

}
