﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.SubscriptionPlanViewModel
@using StreamAMG.OTTPlatform.Core.Services
@using StreamAMG.OTTPlatform.Utility
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Subscription Plan";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";

    var SubscriptionPlanPrices = SubscriptionPlanService.GetSubscriptionPlanPriceList(new SubscriptionPlanService.GetSubscriptionPlanPriceListRequest { SubscriptionPlanId = new Guid(ViewContext.RouteData.Values["subscriptionPlanId"].ToString()), PageIndex = 0, PageSize = int.MaxValue });
}

<h1>@Model.Name</h1>
<h2>Settings</h2>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <p class="form-control-static">
                @Model.Name
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            @Html.LabelFor(m => m.StatementDescription, new { @class = "control-label" })
            <p class="form-control-static">
                @Model.StatementDescription
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            @Html.LabelFor(m => m.Entitlements, new { @class = "control-label" })
            <p class="form-control-static">
                @Model.Entitlements
            </p>
        </div>
    </div>
    <div class="col-md-5">
        @Html.LabelFor(m => m.Deleted, new { @class = "control-label" })
        <p class="form-control-static">
            @(Model.Deleted ? "Yes, the subscription plan is hidden" : "No, the subscription plan is visible on the site, at posiion #" + Model.DisplayOrder.ToString())
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Edit","Subscription", new { @subscriptionPlanId = ViewContext.RouteData.Values["subscriptionPlanId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Edit Settings</a>
        </div>
        <div class="form-group">
            <a href="@Request.QueryString["returnurl"]">Return to subscription plan listing</a>
        </div>
    </div>
</div>
<h2>Pricing</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Effective From</th>
            <th>Amount</th>
            <th>Contract Length</th>
            <th>Trial Period</th>
            <th>Auto Renew</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in SubscriptionPlanPrices.Items)
        {
            <tr>
                <td>@item.EffectiveFrom.ToString("ddd d MMM yyyy") at @item.EffectiveFrom.ToString("HH:mm:ss")</td>
                <td>@item.Amount.ToString("0.00") @Helpers.GetCurrencySymbol(item.Currency)</td>
                <td>@TimeSpanExpression.ToString(item.Interval, "Not reoccurring")</td>
                <td>@TimeSpanExpression.ToString(item.TrialDuration, "No free trial")</td>
                <td>@(item.Interval == item.Duration ? "Does not renew" : TimeSpanExpression.ToString(item.Duration, "User cancellation"))</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("PriceAdd","Subscription", new { @subscriptionPlanId = ViewContext.RouteData.Values["subscriptionPlanId"] })?returnurl=@HttpUtility.UrlEncode(Request.QueryString["returnurl"])" class="btn btn-info">Add a new price</a>
        </div>
        <div class="form-group">
            <a href="@Request.QueryString["returnurl"]">Return to subscription plan listing</a>
        </div>
    </div>
</div>