﻿@model MailService.GetMailLogListResponse
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Mail Log";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>Emails</h1>
<div class="well">
    <form class="form-inline" action="/controlpanel/maillog/">
        <div class="form-group">
            <label for="filter-status">Status</label>
            <select class="form-control" id="filter-status" name="status">
                <option value="">Any Status</option>
                <option value="rejected" @(Request.QueryString["status"] == "rejected" ? "selected" : "")>Rejected</option>
                <option value="failed" @(Request.QueryString["status"] == "failed" ? "selected" : "")>Failed</option>
                <option value="sent" @(Request.QueryString["status"] == "sent" ? "selected" : "")>Sent</option>
                <option value="delivered" @(Request.QueryString["status"] == "delivered" ? "selected" : "")>Delivered</option>
                <option value="opened" @(Request.QueryString["status"] == "opened" ? "selected" : "")>Opened</option>
                <option value="interacted" @(Request.QueryString["status"] == "interacted" ? "selected" : "")>Interacted</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Email Template</label>
            <select class="form-control" id="sel1" name="mailtemplateid">
                <option value="">Any email template</option>
                @foreach (var mailTemplate in MailService.GetMailTemplateList(new MailService.GetMailTemplateListRequest { PageIndex = 0, PageSize = int.MaxValue }).Items)
                {
                    <option value="@mailTemplate.Id.ToString()" @(Model.Request.MailTemplateId == mailTemplate.Id ? "selected" : "")>@mailTemplate.Id</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="filter-date">Date</label>
            <input type="text" class="form-control" id="filter-date" placeholder="" value="">
            <input type="hidden" id="filter-date-from" value="@Model.Request.DateFrom.Value.ToString("ddMMyyyy")" name="datefrom" />
            <input type="hidden" id="filter-date-to" value="@Model.Request.DateTo.Value.ToString("ddMMyyyy")" name="dateto" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount emails.</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
<div class="table-responsive">
    <table id="customersTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Sent</th>
                <th>Subject</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr onclick="eModal.iframe({url: '/controlpanel/maillog/view/@item.Id?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)', title:'Email', size: eModal.size.lg});">
                    <td>
                        <strong>@item.CreatedAt.ToString("ddd d MMM yyyy HH:mm:ss")</strong><br />
                        @item.MailTo
                    </td>
                    <td>
                        <strong>@item.Subject</strong>
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case -2:
                                <span>Rejected</span>
                                break;
                            case -1:
                                <span>Failed</span>
                                break;
                            case 0:
                                <span>Prepared</span>
                                break;
                            case 1:
                                <span>Sent</span>
                                break;
                            case 2:
                                <span>Delivered</span>
                                break;
                            case 3:
                                <span>Opened</span>
                                break;
                            case 4:
                                <span>Interacted</span>
                                break;
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="/controlpanel/maillog/?export=csv&@Request.QueryString.ToString()" class="btn btn-info">Export <span class="visible-xxxs">to CSV</span></a>
        </div>
        <div class="form-group">
            @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)
        </div>
    </div>
</div>
}
<script>
    $('#filter-date').daterangepicker({
        "autoApply": true,
        "ranges": {
            "This Month": [
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ],
            "Previous Month": [
                "@DateTime.UtcNow.AddMonths(-2).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")"
            ]
        },
        "locale": {
            "format": "ddd D MMM YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "firstDay": 1
        },
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true,
        "startDate": "@Model.Request.DateFrom.Value.ToString("ddd d MMM yyyy")",
        "endDate": "@Model.Request.DateTo.Value.ToString("ddd d MMM yyyy")",
        "opens": "left"
    }, function (start, end, label) {
        $("#filter-date-from").val(start.format('DDMMYYYY'));
        $("#filter-date-to").val(end.format('DDMMYYYY'));
    });
</script>