﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.CustomerViewMailLogViewModel
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Mail Log";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Window.cshtml";
}

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.MailTo, new { @class = "control-label" })
                <p class="form-control-static">@Model.MailTo</p>                
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CreatedAt, new { @class = "control-label" })
                <p class="form-control-static">@Model.CreatedAt</p>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
                <p class="form-control-static">@Model.Subject</p>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Body, new { @class = "control-label" })
                <p class="form-control-static">@Html.Raw(Model.Body)</p>                                
            </div>
        </div>
    </div>    

