﻿@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Dashboard";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        background-color: #ffffff;
        padding: 0 !important;
        border: 1px solid #ddd;
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a .glyphicon,
                div.bhoechie-tab-menu div.list-group > a .fa {
                    color: #5A55A3;
                }

                div.bhoechie-tab-menu div.list-group > a:first-child {
                    border-top-right-radius: 0;
                    -moz-border-top-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a:last-child {
                    border-bottom-right-radius: 0;
                    -moz-border-bottom-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a.active,
                div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                div.bhoechie-tab-menu div.list-group > a.active .fa {
                    background-color: #5A55A3;
                    background-image: #5A55A3;
                    color: #ffffff;
                }

                    div.bhoechie-tab-menu div.list-group > a.active:after {
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -13px;
                        border-left: 0;
                        border-bottom: 13px solid transparent;
                        border-top: 13px solid transparent;
                        border-left: 10px solid #5A55A3;
                    }

    div.bhoechie-tab-content {
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        padding-left: 20px;
        padding-top: 10px;
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }
</style>
<div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <h1>Key Trends</h1>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div style="padding-top:16px">

                <input type="text"
                       class="form-control"
                       id="demo" />
            </div>
        </div>
</div>

<script>
    $('#demo').daterangepicker({
        "autoApply": true,
        "ranges": {
            "This Month": [
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ],
            "Previous Month": [
                "@DateTime.UtcNow.AddMonths(-2).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")"
            ],
            "Last 3 Months": [
                "@DateTime.UtcNow.AddMonths(-3).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ],
            "Last 6 Months": [
                "@DateTime.UtcNow.AddMonths(-6).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ],
            "Last 12 Months": [
                "@DateTime.UtcNow.AddMonths(-12).ToString("ddd d MMM yyyy")",
                "@DateTime.UtcNow.AddMonths(0).ToString("ddd d MMM yyyy")"
            ]
        },
        "locale": {
            "format": "ddd D MMM YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "firstDay": 1
        },
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true,
        "startDate": "@DateTime.UtcNow.AddMonths(-1).ToString("ddd d MMM yyyy")",
        "endDate": "@DateTime.UtcNow.ToString("ddd d MMM yyyy")",
        "opens": "left"
    }, function (start, end, label) {
        $("#chart-date-from").val(start.format('DDMMYYYY'));
        $("#chart-date-to").val(end.format('DDMMYYYY'));
        drawChart();
        
    });
</script>
<input type="hidden" id="chart-date-from" value="@DateTime.UtcNow.AddMonths(-1).ToString("ddMMyyyy")" />
<input type="hidden" id="chart-date-to" value="@DateTime.UtcNow.AddMonths(0).ToString("ddMMyyyy")" />


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group" id="dashboard-menu">
                    <a href="#" class="list-group-item active" data-chart-metric="payments-total" data-chart-total-type="sum" data-chart-total="%0.2f EUR">
                        Total revenue
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="payments-in" data-chart-total-type="sum" data-chart-total="%0.2f EUR">
                        Gross payments
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="payments-out" data-chart-total-type="sum" data-chart-total="%0.2f EUR">
                        Gross refunds
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="subscriptions-total" data-chart-total-type="max" data-chart-total="%d peak subscriptions">
                        Total Subscriptions
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="subscriptions-new" data-chart-total-type="sum" data-chart-total="%d new subscriptions">
                        New Subscriptions
                    </a>
                    <!--
                    <a href="#" class="list-group-item" data-chart-metric="subscriptions-renewed">
                        Successful renewals
                    </a>
                        -->
                    <a href="#" class="list-group-item" data-chart-metric="cancellations-total" data-chart-total-type="sum" data-chart-total="%d subscriptions churned">
                        Total Churn
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="cancellations-auto" data-chart-total-type="sum" data-chart-total="%d failed renewals">
                        Failed Renewals
                    </a>
                    <a href="#" class="list-group-item" data-chart-metric="cancellations-manual" data-chart-total-type="sum" data-chart-total="%d cancellations" >
                        Cancellations
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 bhoechie-tab">
                <div class="row text-right">
                    <div class="col-md-12">
                        <h3 id="chart-total"></h3>
                    </div>
                </div>
                    <div id="chart_div"></div>
                </div>
        </div>
    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {



        $("#dashboard-range a").click(function () {
            setTimeout(function () { drawChart(); }, 250);
        });

        $("#dashboard-menu a").click(function () {
            $("#dashboard-menu a.active").removeClass("active");
            $(this).addClass("active");
            drawChart();
        });

        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        
    });
    function drawChart() {
        var jsonData = $.ajax({
            url: "/controlpanel/stats/?metric=" + $("#dashboard-menu a.active").attr("data-chart-metric") + "&range=" + $("#dashboard-range li.active").attr("data-chart-range") + "&datefrom=" + $("#chart-date-from").val() + "&dateto=" + $("#chart-date-to").val(),
            dataType: "json",
            async: false
        }).responseText;

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(jsonData);
        var col = data.getNumberOfColumns() - 1;
        var dataSum = 0;
        var dataMax = 0;
        for (var i = 0; i < data.getNumberOfRows() ; i++) {
            var v = parseFloat(data.getValue(i, col));
            if (v > dataMax)
                dataMax = v;
            dataSum = dataSum + v;
        }


        if($("#dashboard-menu a.active").attr("data-chart-total-type") == "sum")
        {
            $("#chart-total").text(sprintf($("#dashboard-menu a.active").attr("data-chart-total"), dataSum));
        } else {
            $("#chart-total").text(sprintf($("#dashboard-menu a.active").attr("data-chart-total"), dataMax));
        }

        

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, {
            isStacked: false,
            width: '100%',
            height: 380,
            chartArea: { width: '100%', height: '90%' },
            legend: { position: 'none' },            
            vAxes: {
                0: { textPosition: 'in', viewWindow: { min: 0 } },
                1: { }
            }

        });

        
    }
</script>