﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.LoginViewModel

@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Login";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <h1>@ViewBag.SiteName</h1>
            
        <h3>Please sign in</h3>
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary("Sorry you could not be logged in because")
            </div>
        }
        <p>
            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @maxlength = 100 })
        </p>
        <p>
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })                
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @maxlength = 100 })
        </p>
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </p>
    }
    <p>If you have forgotten your password, you can <a href="/controlpanel/reset">reset your password</a>.</p>
</div>    

