﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.ResetRequestViewModel

@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Reset Password";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <h1>@ViewBag.SiteName</h1>
            
        <h3>Reset password</h3>
            
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary()
            </div>
        }
        if (ViewBag.Success == true)
        {
            <div class="alert alert-success" role="alert">
                <p>An email containing a password reset link has been sent to your registered email address.</p>
            </div>
        }
        <p>
            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @maxlength = 100 })
        </p>           
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Request a Reset Email</button>
        </p>
    }        
</div>   
