﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.ResetViewModel

@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Reset Password";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <h1>@ViewBag.SiteName</h1>
            
        <h3>Reset password</h3>
        <p>Complete the form below to reset your account, the new password must be at least eight characters long and contain at least one uppercase character and one number.</p>
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary()
            </div>
        }
        if (ViewBag.Success == true)
        {
            <div class="alert alert-success" role="alert">
                <p>Thank you, your password has now been reset and you can <a href="/controlpanel/login/?username=@Model.Username">login</a>.</p>
            </div>
        }
        <p>
            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @maxlength = 100 })
        </p>   
            
        <p>
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password", @maxlength = 100 })
        </p>
            
            <p>
            @Html.LabelFor(m => m.NewPasswordConfirmation, new { @class = "control-label" })
            @Html.PasswordFor(m => m.NewPasswordConfirmation, new { @class = "form-control", @placeholder = "Confirm new password", @maxlength = 100 })
        </p>
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </p>
    }
</div>