﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.LoginVerifyViewModel

@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Verify";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <h1>@ViewBag.SiteName</h1>
            
        <h3>Please verify</h3>
        <p>Please enter the verification code which has been sent to your registered mobile phone.</p>
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary("Sorry you could not be logged in because")
            </div>
        }
        <p>
            @Html.LabelFor(m => m.VerificationCode, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control", @placeholder = "******" })
        </p>           
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
        </p>
    }
    <p>If you have forgotten your password, you can <a href="/controlpanel/reset">reset your password</a>.</p>
</div>