﻿@model StreamAMG.OTTPlatform.Areas.ControlPanel.Models.UserEditViewModel
@using StreamAMG.OTTPlatform.Areas.ControlPanel.Security
@using StreamAMG.OTTPlatform.Core.Services
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > Users";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";    
}
<h1>Add a New User</h1>
<p>Complete the form below to add a new user, after creating the user an email will be sent to the email address allowing the user to set thier password.</p>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success" role="alert">
        <p>Your changes were successfully saved.</p>
    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger" role="alert">
        <p>Your changes could not be saved please try again.</p>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.MobilePhone, new {@class = "control-label"})
                @Html.TextBoxFor(m => m.MobilePhone, new {@class = "form-control" })
            </div>
        </div>        
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress, new {@class = "control-label"})
                @Html.TextBoxFor(m => m.EmailAddress, new {@class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SystemRoleIds, new { @class = "control-label" })
                @Html.ListBoxFor(m => m.SystemRoleIds, ControlPanelAuthentication.SystemRoles.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }).ToList(), new { @multiple = "multiple", @class = "selectpicker form-control" })
            </div>
        </div>  
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Deleted, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Deleted, new SelectList(new[] { new { Value = "true", Text = "Yes, the user is blocked" }, new { Value = "false", Text = "No, the user account is not blocked" } }, "Value", "Text", 1), "{Default Select Value}", new { @class = "form-control" })
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <button type="submit" class="btn btn-info">Create <span class="visible-xxxs">user</span></button>
            </div>
            <div class="form-group">
                <a href="@Request.QueryString["returnurl"]">Return to the user list</a>
            </div>
        </div>
    </div>
}