﻿@model UserService.GetUserListResponse
@using StreamAMG.OTTPlatform.Core.Services;
@{
    ViewBag.SiteName = System.Configuration.ConfigurationManager.AppSettings["SiteName"];
    ViewBag.Title = ViewBag.SiteName + " > User Accounts";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}
<h1>Users</h1>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <p>Your search returned @Model.ItemCount @(Model.ItemCount == 1 ? "user" : "users").</p>
        </div>
    </div>
</div>
@if (Model.ItemCount > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email Address</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                <tr onclick="document.location.href = '@Url.Action("Edit", "User", new { @userId = item.Id })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)';">
                    <td>
                        <strong>@item.Name @item.Surname</strong><br />
                        
                    </td>
                    <td>
                        @item.Username    
                    </td>
                    <td>
                        @item.EmailAddress
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="form-actions pull-right">
            <a href="@Url.Action("Create","User", new { @subscriptionPlanId = ViewContext.RouteData.Values["subscriptionPlanId"] })?returnurl=@HttpUtility.UrlEncode(Request.RawUrl)" class="btn btn-info">Add a new user</a>
        </div>
        <div class="form-group">
            @HtmlExtensions.Pager(Model.PageIndex, Model.PageSize, Model.ItemCount)            
        </div>
    </div>
</div>
       
}